h1{
    font-size: 12pt;
    color: rgb(204, 0, 0);
    font-weight: bold;
    text-align: center;
    margin-top: 30;
    margin-bottom: 12;
}

p {
    font-size: 10pt;
    color: rgb(0, 0, 0);
    text-align: left;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 3px;
}

body{
    background-color: rgb(255, 255, 224);
}




